<%#about.ejs Riyadh Ahmed 301068729 September 29 2023%>

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h3>Hi, my name is Riyadh Ahmed!</h3>
    <p>I was born here in Canada and my hobbies include working out, reading and playing soccer.I am currently learning Java, SQL and JavaScript frameworks for web development</p>
    

    <!--the ahref tag will display a link that when pressed will download the resume onto the user's machine-->
    <p>Click the link below to download my resume:</p>
    <a href="/Resume/resume.pdf" download>Riyadh's Resume</a>
    </div>
    </main>
    
    <!--bottom nav-->
    
    <!--<img src="/img/me.jpg" alt="logo" style: width="500px"; height="200px">
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   