<%#projects.ejs Riyadh Ahmed 301068729 September 29 2023%>
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2>Healthcare Management System</h2>
    <p>The Healthcare Management System database aims to streamline the management of healthcare-related information, including patient data, medical records, insurance details, and billing.</p>
    <img src="/img/db.png"style: width="500px"; height="200px">
    <p>The object of this project was to use SQL developer to create a database along with tables and erd diagrams.</p>
    <h3>Express Portfolio</h3>
    <p>The objective of this project was to create a personal portfolio website using expressjs and the ejs templating engine.I created this project using the structure created by the Express Generator.</p>
    <!--img tag using img src to display a image with 500px by 200px-->
    <img src="/img/escreen.png"style: width="500px"; height="200px">
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>