<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2>Services Offered</h2>
    <img src="/img/web.png"style: width="500px"; height="200px">
    <p>Web Developement(JavaScript, Express, node.js)</p>
    <img src="/img/java.png"style: width="500px"; height="200px">
    <p>Java Programming</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   